.header {
  height: 64px;
  width: 100%;
  background-color: #BAD9D6;
  flex: none;
}

.footer {
  width: 100%;
  height: 24px;
  background-color: #BAD9D6;
  flex: none;
}

.main-area {
  margin: 8px;
  padding: 8px;
  background-color: #FFFFFF;
  flex: auto;
}
