@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@font-face {
  font-family: NotoSans-Regular;
  src: url(assets/fonts/NotoSans-Regular.ttf);
}

html, body, app-root {
  margin: 0;
  height: 100vh;
  min-height: 100vh;
}

body, app-root {
  background-color: #F2F2EB;
  font-family: NotoSans-Regular, sans-serif;
  display: flex;
  flex-direction: column;
}

